rien
.gitignore
.git/**
.*sw*
.gitconfig
# .vim/**
.vim/.netrwhi*
.vim/.netrwhist
.vim/.netrwhist
.netrwhist
.poubelle/
.icewm/.session*
# .vim/pack/plugins/*
# ~/bin/**
*__pycache__*
.okz/**
.gitignore
\.gitignore

