[user]
	name = Pierre
	email = pierrechevaliergeol@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
        ci = commit
        co = checkout
        st = status
        br = branch

[credential]
	helper = store
[push]
	default = simple
