[user]
	name = pchg
	email = pierrechevaliergeol@free.fr
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
        ci = commit
        co = checkout
        st = status
        br = branch

[credential]
	helper = cache --timeout=360000000
[push]
	default = simple
